
.tutorial-tooltips{
	box-shadow: 5px 5px 8px #818181; /*shadow for CSS3 capable browsers.*/
	-webkit-box-shadow: 5px 5px 8px #818181;
	-moz-box-shadow: 5px 5px 8px #818181;
	display:none;
	position:absolute;
	border:2px solid #CCCCCC; /*Border around tooltip*/
	background:white;
	z-index:3000;
}

.tutorial-icon {
  margin-left: 2px;
  z-index: 2999;
}

#tutorial-lists {
  padding: 0px 4px 0px 4px;	
}

.tutorial-header {
  padding: 0px 0px 0px 4px;
  width: 100%;
  font-weight: bold;
  color: #FFFFFF;
  background: #666666;
}

.tutorial-close {
  float: right;
  margin-right: 4px;
  color: #FFFFFF;
}